@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

code {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 400;
}

input {
  width: 200px;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
  font-size: 25px;
}


.main-container {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  margin-top: -230px;
}

.form-container {
  display: flex;
}

.px-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.rem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}